/Roslyn~/.idea/
/Roslyn~/Ksi/bin/
/Roslyn~/Ksi/obj/
/Roslyn~/Ksi.Roslyn/bin/
/Roslyn~/Ksi.Roslyn/obj/
/Roslyn~/Ksi.Roslyn.DocGen/bin/
/Roslyn~/Ksi.Roslyn.DocGen/obj/
/Roslyn~/Ksi.Roslyn.Tests/bin/
/Roslyn~/Ksi.Roslyn.Tests/obj/
/Roslyn~/Ksi.Tests/bin/
/Roslyn~/Ksi.Tests/obj/
*.DotSettings.user
